{% extends "main/base.html" %}
{% load static %}

{% block title %}
    Sign-up
{% endblock title %}

{% block content %}
    <div class="sign-up d-flex">
        <div class="sign-up-login-field d-flex">
            <input type="text" name="Login" class="sign-up-login">
        </div>
        <div class="sign-up-email-field d-flex">
            <input type="text" name="Email" class="sign-up-email">
        </div>
        <div class="sign-up-password-field d-flex">
            <input type="text" name="Password" class="sign-up-password">
        </div>
        <div class="sign-up-password-repeat-field d-flex">
            <input type="text" name="Password" class="sign-up-password-repeat">
        </div>
    </div>
{% endblock content %}