@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.363);
}

body{
    font-family: "Montserrat", serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 120s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size:48px;
}

h2{
    font-size:48px;
    font-weight: 600;
}

h3{
    font-size:36px;
}


h5{
    font-size:18px;
    margin: 0;
    font-weight: 600;
}

.nav-a{
    margin-right: 20px;
}

.logokb{
    position: fixed;
    top: 0.5%;
    left: 44.5%;
    width: 100px;
    height: 100px;
}

.kb-logo{
    position: fixed;
    top: -0.5%;
    left: 44.5%;
    width: 100px;
    height: 100px;
}

.subtitlekb{
    width: 100px;
    height: 100px;
}

.home{
    align-items: center;
}

.container{
    box-sizing: border-box;
    min-width: 1600px;
    margin: 0 auto;
}

.header-list{
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
    text-transform: uppercase;
}

.button-home{
    transition: all 0.5s ease;  
}

.button-home:hover{
    color:#fff;
}

.button-shop{
    transition: all 0.5s ease;  
}

.button-shop:hover{
    color:#fff;
}

.header-container {
    box-sizing: border-box;
    min-width: 1400px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
}

.header{
    height: 80px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.footer-container {
    box-sizing: border-box;
    min-width: 1400px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
    backdrop-filter: blur(20px)
}

.detail-product{
    margin-top: 75px;
}

.home-title{
    margin-top: 210px;
    margin-bottom: 50px;
}

.home-card{
    width: 305px;
    height: 445px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-left: 20px;
}

.home-card:hover{
    border: 1px solid #000;
    width: 328px;
    height: 490px;
}

.home-card img{
    margin-top: 1px;
    transition: all 0.5s ease;
}

.home-card:hover img{
    width: 325px;
    height: 325px;
}


.title-card {
    max-width: 185px;
    margin-top: 20px;
    min-height: 70px;
}

.card-img{
    width: 300px;
    height: 300px;
}

.price{
    font-size: 20px;
    font-weight: 700;
    margin-top: -10px;
}

.home-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;

    transition: all .4s ease;
    z-index: 2;
}

.home-btn:hover{
    border: 1px solid #000;
}

.detail-image{
    width: 550px;
    height: 550px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 1s ease;
}

.detail-image:hover{    
    border: 1px solid #000;
}

.detail-description{
    
}

.detail-description p {
    margin-top: 20px;
    max-width: 700px;}

.detail-description h2 span{
    font-size: 56px;
}

.card-discount {
    margin-top: -10px;
    font-weight: 600;
}

.card-discount .price{
    margin-top: -1px;
}

.line {
    opacity: 0.7;
    text-decoration: line-through;
    font-weight: 300;
}

.cart-btn {
    width: 180px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: all 0.5s ease;
    z-index: 2;
    margin-top: 20px;
    background-color: #00000044;
    color:#00000080;
}

.cart-btn:hover {
    border: 1px solid #00000027;
    background-color: #00000022;
}

.footer-text a{
    color:#000;
    transition: all 0.5s ease;
    z-index: 2;
}

.footer-text a:hover {
    color:#fff;
}

.main{
    margin-left: 150px;
}

.main-title {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill,325px);
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    justify-items: center;
    column-gap: 0px;
    row-gap: 10px;
    margin: 0 auto;
}